@CHARSET "UTF-8";
.icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}

.back-right-inner {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.back-left .active {
	position: relative;
	z-index: 2;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
	-webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
	border-left-color:#08C;
	border-right-color:#08C;
}

.back-left .active a,.back-left .active a:hover{
	color: white;
	background-color: #08C;
	position: relative;
	cursor:pointer;
}

.back-left .active .icon-chevron-right, .back-left .active a:hover .icon-chevron-right {
	opacity: 1;
}

/*  box  */
.widget-box {
	position: relative;
	/*padding: 39px 19px 14px;*/
	padding: 27px 0px 0px 10px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.widget-box .widget-title {
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 0px 3px 0px;
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #9da0a4;
	-webkit-border-radius: 4px 4px 0px 0;
	-moz-border-radius: 4px 4px 0px 0;
	border-radius: 4px 4px 0px 0;
}
.widget-box .widget-content {
	overflow:auto;
	padding-top: 10px;
}